.nav-link {
  --bs-nav-link-color: #fff;
  --bs-navbar-active-color: #F0145A;
  --bs-navbar-nav-link-padding-x: 0;
  --bs-nav-link-hover-color: #F0145A;
  --bs-nav-link-padding-y: 0; }

.bg-gradient {
  --bs-gradient: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%) ; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  font-weight: 400; }

.bg-gradient {
  position: relative;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px; }
  .bg-gradient:before, .bg-gradient:after {
    content: '';
    display: block;
    border-radius: 0 0 12px 12px;
    position: absolute;
    height: 10px;
    left: 50%;
    transform: translateX(-50%); }
  .bg-gradient:before {
    bottom: -10px;
    background-color: #CACADB;
    width: calc(100% - 20px); }
  .bg-gradient:after {
    bottom: -20px;
    background-color: #E7E7F2;
    width: calc(100% - 40px); }

@media (min-width: 1600px) {
  .container {
    max-width: 1600px; } }
.form-control {
  border: none; }
  .form-control::placeholder {
    color: #B3B3BA;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px; }

#carouselExampleIndicators {
  background-color: #F5F5FA;
  position: relative; }

.card-title {
  font-weight: 700;
  font-size: 16px;
  color: #24A3FF; }

.card-body {
  max-width: 468px;
  margin: 0 auto; }

.card-text {
  font-size: 14px; }

.card-date {
  padding-top: 15px;
  color: #B3B3BA;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700; }

.card-hr {
  color: #E6E6F0;
  border-width: 4px; }

.card-img {
  max-height: 200px;
  overflow: hidden; }

a {
  text-decoration: none; }

.header {
  position: absolute;
  padding-top: 50px;
  width: 100%;
  z-index: 1; }
  .header-content-wrapper {
    position: relative; }
  .header__top {
    font-size: 16px; }
    .header__top .container-lg {
      position: relative; }
    .header__top-content {
      position: absolute;
      z-index: 1;
      right: 0;
      top: -16px; }
      .header__top-content > div:not(:last-child) {
        margin-right: 6px; }
        .header__top-content > div:not(:last-child):after {
          content: '';
          display: inline-block;
          width: 7px;
          height: 7px;
          background-color: #fff;
          border-radius: 50%;
          margin-left: 3px; }
    .header__top-lang input[name="lang"] {
      display: none; }
    .header__top-lang input[name="lang"]:checked + span {
      background-color: #F0145A; }
    .header__top-lang label span {
      cursor: pointer;
      font-weight: 700;
      color: #fff;
      padding: 5px 7px;
      border-radius: 8px;
      display: inline-block; }
    .header__top-address a, .header__top-phone a {
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      text-decoration: none; }
    .header__top-phone a {
      font-weight: 700; }
  .header .navbar-brand {
    margin-top: -20px; }
  .header .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding-top: 20px; }
  .header .navbar .nav-link {
    font-weight: 700;
    padding-bottom: 3px; }
    .header .navbar .nav-link.active {
      border-bottom: 2px solid; }

@media (min-width: 1024px) {
  .header__top-content {
    justify-content: flex-end; } }
@media (max-width: 1024px) and (min-width: 767px) {
  .header .navbar .container-lg {
    flex-direction: column;
    align-items: flex-start; } }
@media (max-width: 1024px) {
  .header__top-content {
    position: static;
    margin-bottom: 30px; } }
@media (max-width: 767px) {
  .header {
    padding-top: 0; }
  .header .navbar {
    padding: 15px 0 0 0; }
    .header .navbar-brand {
      margin: 0; }
    .header .navbar-toggler {
      border: none;
      padding: 5px; }
      .header .navbar-toggler:hover {
        background-color: #e6e6f02b;
        transition: .3s; }
      .header .navbar-toggler:focus {
        box-shadow: none;
        background-color: #e6e6f02b; }
      .header .navbar-toggler svg {
        fill: #fff;
        width: 35px;
        height: 35px; }
    .header .navbar .navbar-collapse {
      background-color: #fff;
      padding: 20px;
      border-radius: 12px;
      margin-top: 20px; }
      .header .navbar .navbar-collapse .nav-link {
        padding: 7px 0;
        text-align: center;
        border-radius: 12px;
        background-color: #F5F5FA;
        color: #24A3FF;
        font-weight: 700;
        font-size: 38px; }
        .header .navbar .navbar-collapse .nav-link.active {
          border: none;
          color: #F0145A; }
        .header .navbar .navbar-collapse .nav-link:hover, .header .navbar .navbar-collapse .nav-link:active, .header .navbar .navbar-collapse .nav-link:focus {
          background-color: #E6E6F0;
          transition: .3s; }
  .header__top {
    background-color: rgba(245, 245, 250, 0.2); }
    .header__top .container-lg {
      padding: 10px 15px; }
    .header__top-content {
      margin: 0;
      justify-content: space-between; }
      .header__top-content > div:not(:last-child):after {
        content: unset; }
    .header__top-address, .header__top-social {
      display: none; }
    .header__top-phone {
      margin: 0 !important; } }

.banner {
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  background-image: url("/assets/Symbol.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  position: relative; }
  .banner h1 {
    color: #fff;
    font-size: 38px;
    font-weight: 700; }
  .banner__scroll {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%); }

.tab {
  padding-top: 70px; }
  .tab-content {
    height: 100%; }
  .tab__column {
    border-right: 4px solid #E6E6F0;
    height: 100%;
    padding-right: 60px; }
  .tab__body {
    flex-direction: column;
    height: 100%; }
    .tab__body-heading {
      font-size: 30px;
      color: #fff;
      font-weight: 700; }
    .tab__body-p {
      font: 19px;
      color: #fff;
      padding-top: 30px; }
  .tab__link {
    color: #B3B3BA;
    font-weight: 700;
    font-size: 38px; }
    .tab__link:not(:first-child) {
      padding-top: 30px; }
    .tab__link.active {
      color: transparent !important;
      -webkit-background-clip: text;
      background-image: linear-gradient(to right, #F0145A, #EF8080); }
    .tab__link:hover {
      color: #F0145A; }

@media (max-width: 768px) {
  .tab__column {
    flex-direction: row !important;
    border-right: 0;
    border-bottom: 4px solid #E6E6F0;
    align-items: center !important;
    margin: 0;
    padding: 0 0 60px 0; }
  .tab__link {
    font-size: 30px; }
  .tab .row {
    flex-direction: column; }
  .tab .col-4, .tab .col-8 {
    width: 100%; }
  .tab .nav-link.active {
    padding-top: 30px; }
  .tab button {
    width: 100%; }
  .tab-content {
    padding-top: 60px; }
  .tab .wrapper {
    overflow: hidden; }
  .tab .scroll {
    overflow: scroll;
    width: 100%;
    margin-bottom: -20px; }
  .tab nav {
    overflow-x: unset; } }
@media (max-width: 375px) {
  .tab-content {
    padding-top: 30px; }
  .tab__column {
    padding-bottom: 30px; } }

.services {
  padding-top: 100px; }
  .services__p {
    color: #24A3FF;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase; }
    .services__p:hover {
      color: transparent;
      -webkit-background-clip: text;
      background-image: linear-gradient(to right, #F0145A, #EF8080); }
  .services__i {
    color: #24A3FF;
    font-weight: 700; }
    .services__i:hover {
      color: transparent;
      -webkit-background-clip: text;
      background-image: linear-gradient(to right, #F0145A, #EF8080); }
  .services__heading {
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #F0145A, #EF8080);
    font-size: 38px;
    font-weight: 700; }
  .services__headings {
    color: #24A3FF;
    font-weight: 700;
    font-size: 22px;
    padding: 30px 0 15px 0; }
  .services__paragraphs {
    color: white; }
  .services .col-4 {
    padding-top: 60px; }

@media (max-width: 1024px) {
  .services {
    padding-top: 240px; } }
@media (max-width: 768px) {
  .services .col-4 {
    width: 50%; } }
@media (max-width: 375px) {
  .services .col-4 {
    width: 100%; } }

.personalities {
  padding-top: 80px; }
  .personalities__p {
    color: #24A3FF;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0; }
    .personalities__p:hover {
      color: transparent;
      -webkit-background-clip: text;
      background-image: linear-gradient(to right, #F0145A, #EF8080); }
  .personalities__i {
    color: #24A3FF;
    font-weight: 700; }
    .personalities__i:hover {
      color: transparent;
      -webkit-background-clip: text;
      background-image: linear-gradient(to right, #F0145A, #EF8080); }
  .personalities__description {
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #F0145A, #EF8080);
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    margin: 0; }
  .personalities__p2 {
    color: #B3B3BA;
    font-weight: 700; }
  .personalities__p3 {
    color: #B3B3BA;
    font-size: 14px; }
  .personalities__Ps {
    padding-top: 30px; }
  .personalities__img {
    max-height: 300px; }
  .personalities .carousel-indicators [data-bs-target] {
    width: 16px;
    height: 16px;
    background-color: #24A3FF;
    border-radius: 50%; }
  .personalities .carousel-indicators {
    position: absolute;
    top: 320px;
    gap: 12px; }
  .personalities .col-9 {
    padding-left: 30px; }

@media (max-width: 1600px) {
  .personalities__description {
    max-width: 860px; }
  .personalities__img {
    display: none; }
  .personalities .col-3 {
    width: calc(100% / 3);
    background-image: url("../../../assets/personalities-2.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  .personalities .col-9 {
    width: calc(100% - calc(100% / 3)); }
  .personalities .carousel-indicators {
    top: 390px; } }
@media (max-width: 1200px) {
  .personalities .carousel-indicators {
    top: 440px; } }
@media (max-width: 1024px) {
  .personalities .col-3 {
    width: 50%; }
  .personalities .col-9 {
    width: 50%; }
  .personalities .carousel-indicators {
    top: 540px; } }
@media (max-width: 992px) {
  .personalities .carousel-indicators {
    top: 700px; } }
@media (max-width: 768px) {
  .personalities .col-3 {
    width: 100%;
    height: 500px; }
  .personalities .col-9 {
    width: 100%; }
  .personalities .carousel-indicators {
    top: 1000px; } }
@media (max-width: 575px) {
  .personalities__description {
    font-size: 30px; }
  .personalities #carouselExampleIndicators {
    max-width: 315px; }
  .personalities .container {
    display: flex;
    justify-content: center; }
  .personalities .carousel-indicators {
    top: 1220px; } }

.sponsors {
  padding: 110px 0 60px 0; }
  .sponsors__p {
    text-align: center;
    font-size: 14px;
    color: #323264;
    font-weight: 700;
    text-transform: uppercase; }
  .sponsors img {
    width: 100%; }
  .sponsors .col-3 {
    padding: 0; }
  .sponsors .row {
    border-radius: 12px; }

@media (max-width: 1440px) {
  .sponsors .container {
    max-width: 100%; } }
@media (max-width: 768px) {
  .sponsors .col-3 {
    width: calc(100% / 3); } }
@media (max-width: 375px) {
  .sponsors .col-3 {
    width: 100%; }
  .sponsors .noneLast {
    display: none; } }

.news {
  background-color: #F5F5FA; }
  .news__p {
    color: #24A3FF;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 30px; }
    .news__p:hover {
      color: transparent;
      -webkit-background-clip: text;
      background-image: linear-gradient(to right, #F0145A, #EF8080); }
  .news__i {
    color: #24A3FF;
    font-weight: 700; }
    .news__i:hover {
      color: transparent;
      -webkit-background-clip: text;
      background-image: linear-gradient(to right, #F0145A, #EF8080); }
  .news__description {
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #F0145A, #EF8080);
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    margin: 0; }
  .news__cards {
    padding: 30px 0;
    border-bottom: 2px solid #E6E6F0; }
    .news__cards-1, .news__cards-2, .news__cards-3 {
      width: 513px;
      height: 430px;
      border: none; }

@media (max-width: 1600px) {
  .news__cards-1, .news__cards-2, .news__cards-3 {
    width: 420px;
    height: 450px; } }
@media (max-width: 1400px) {
  .news__cards-1, .news__cards-2, .news__cards-3 {
    width: 282px;
    height: 556px; } }
@media (max-width: 992px) {
  .news .col-4 {
    width: 50%; }
  .news .main-card {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px; }
  .news .first-card {
    display: flex;
    justify-content: flex-end; }
  .news__cards-1, .news__cards-2 {
    width: 310px;
    height: 514px; }
  .news__cards-3 {
    width: 648px;
    height: 388px; } }
@media (max-width: 375px) {
  .news .col-4 {
    width: 100%;
    display: flex;
    justify-content: center; }
  .news__cards-1, .news__cards-2, .news__cards-3 {
    width: 315px;
    height: 432px; }
  .news .first-card {
    padding-bottom: 30px; } }

.footer {
  background-color: #F5F5FA;
  padding-top: 30px; }
  .footer__top-content {
    justify-content: space-between; }
  .footer__top-nav {
    gap: 10px; }
  .footer__top-nav > div:not(:last-child) {
    margin-right: 6px; }
    .footer__top-nav > div:not(:last-child):after {
      content: '';
      display: inline-block;
      width: 7px;
      height: 7px;
      background-color: #B3B3BA;
      border-radius: 50%;
      margin-left: 3px; }
  .footer__top-address a {
    color: #323264;
    padding-right: 10px; }
  .footer__top-onMap {
    color: #24A3FF;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase; }
  .footer__top a {
    text-decoration: none; }
  .footer__top-p {
    color: #B3B3BA; }
  .footer__bottom-content > div:not(:last-child) {
    margin-right: 6px; }
    .footer__bottom-content > div:not(:last-child):after {
      content: '';
      display: inline-block;
      width: 7px;
      height: 7px;
      background-color: #B3B3BA;
      border-radius: 50%;
      margin-left: 3px; }
  .footer__bottom-tel a {
    font-weight: 700;
    color: #323264;
    padding-right: 10px; }
  .footer__bottom-img img {
    padding-right: 10px; }
  .footer__bottom-email {
    font-weight: 700;
    color: #24A3FF; }
  .footer__bottom-content {
    gap: 10px; }

@media (max-width: 768px) {
  .footer {
    height: 306px; }
  .footer__top-nav {
    display: block !important; }
  .footer__top-content, .footer__bottom-content {
    flex-direction: column;
    gap: 10px; }
  .footer__bottom {
    padding-top: 30px; }
    .footer__bottom-img {
      display: flex;
      justify-content: center; }
    .footer__bottom-tel {
      justify-content: center; }
    .footer__bottom-email {
      justify-content: center; }
    .footer__bottom-content > div:not(:last-child) {
      margin-right: 6px; }
      .footer__bottom-content > div:not(:last-child):after {
        display: none; }
  .footer__top {
    position: relative; }
    .footer__top-address {
      justify-content: center; }
    .footer__top-onMap {
      justify-content: center; }
    .footer__top-nav > div:not(:last-child) {
      margin-right: 6px; }
      .footer__top-nav > div:not(:last-child):after {
        display: none; }
    .footer__top-onMap {
      padding-top: 10px; }
    .footer__top-p {
      position: absolute;
      top: 220px;
      display: flex;
      justify-content: center; } }

/*# sourceMappingURL=homepage.css.map */
